* {
  padding: 0;
  margin: 0;
}

body .wrap-container header .header-container .info .top-info ul .info-li1::before, body .wrap-container header .header-container .info .top-info ul .info-li2::before, body .wrap-container header .header-container .info .top-info ul .info-li3::before, body .wrap-container header .header-container .info .top-info ul .info-li4::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
}

body .wrap-container .bg-faq .faq .faq-content .questions .first-question h3 span::before, body .wrap-container .bg-faq .faq .faq-content .questions .second-question h3 span::before, body .wrap-container .bg-faq .faq .faq-content .questions .third-question h3 span::before {
  content: "+";
  width: 17px;
  height: 10px;
  font-size: 32px;
  vertical-align: middle;
}

body .wrap-container .bg-our-services .our-services .services-tittle h1, body .wrap-container .bg-about-us .about-us .about-us-content h1, body .wrap-container .bg-gallery .wrap-gallery h1, body .wrap-container .bg-faq .faq .faq-content h1 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

body .wrap-container .bg-our-services .our-services .services-tittle h2, body .wrap-container .bg-our-services .our-services .our-services-gallery .card h2, body .wrap-container .bg-about-us .about-us .about-us-content h2, body .wrap-container .bg-faq .faq .faq-content h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
}

body .wrap-container .bg-faq .faq .faq-content .questions .first-question h3, body .wrap-container .bg-faq .faq .faq-content .questions .second-question h3, body .wrap-container .bg-faq .faq .faq-content .questions .third-question h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

body .wrap-container {
  outline: 1px solid green;
  max-width: 1920px;
  height: 100vmax;
  margin: 0 auto;
}
body .wrap-container header {
  width: 100%;
}
body .wrap-container header .header-container {
  max-width: 1110px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
body .wrap-container header .header-container .logo img {
  padding-left: 12px;
}
body .wrap-container header .header-container .logo span {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005FA3;
  padding-left: 24px;
}
body .wrap-container header .header-container .info {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-evenly;
}
body .wrap-container header .header-container .info .top-info ul {
  display: flex;
  padding-left: 0;
  width: 665px;
  justify-content: space-between;
}
body .wrap-container header .header-container .info .top-info ul li {
  vertical-align: middle;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}
body .wrap-container header .header-container .info .top-info ul li span {
  padding-left: 8px;
}
body .wrap-container header .header-container .info .top-info ul .info-li1::before {
  content: "";
  background-image: url(../assets/icons/phone.png);
  width: 10px;
}
body .wrap-container header .header-container .info .top-info ul .info-li2::before {
  content: "";
  background-image: url(../assets/icons/clock.png);
}
body .wrap-container header .header-container .info .top-info ul .info-li3::before {
  content: "";
  background-image: url(../assets/icons/letter.png);
  width: 22.34px;
}
body .wrap-container header .header-container .info .top-info ul .info-li4::before {
  content: "";
  background-image: url(../assets/icons/placeholder.png);
}
body .wrap-container header .header-container .info nav ul {
  display: flex;
  padding-left: 0;
  width: 665px;
  justify-content: space-between;
}
body .wrap-container header .header-container .info nav ul li {
  list-style: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 5px;
}
body .wrap-container header .header-container .info nav ul li:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
body .wrap-container header .header-container .info nav ul li a {
  text-decoration: none;
  color: #222222;
}
body .wrap-container header .header-container .burger {
  display: none;
}
@media (max-width: 920px) {
  body .wrap-container header .header-container .info {
    display: none;
  }
  body .wrap-container header .header-container .burger {
    display: block;
    filter: contrast(0%);
    margin-left: auto;
    margin-right: 10px;
  }
  body .wrap-container header .header-container .burger:hover {
    cursor: pointer;
  }
}
body .wrap-container .bg-first-screen {
  max-width: 1920px;
  background-image: url(../assets/img/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
}
body .wrap-container .bg-first-screen .first-screen {
  max-width: 1110px;
  margin: 0 auto;
}
body .wrap-container .bg-first-screen .first-screen .first-screen-content {
  height: 428px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 11px;
}
body .wrap-container .bg-first-screen .first-screen .first-screen-content h1 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #FFFFFF;
  margin-bottom: 68px;
}
body .wrap-container .bg-first-screen .first-screen .first-screen-content button {
  width: 270px;
  height: 60px;
  background: #005FA3;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
body .wrap-container .bg-first-screen .first-screen .first-screen-content button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s;
}
@media (max-width: 600px) {
  body .wrap-container .bg-first-screen .first-screen .first-screen-content {
    justify-content: center;
    align-items: center;
  }
  body .wrap-container .bg-first-screen .first-screen .first-screen-content h1 {
    font-size: 24px;
  }
}
body .wrap-container .bg-first-screen .first-screen .slider {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 69px;
  padding-left: 8px;
}
body .wrap-container .bg-first-screen .first-screen .slider .slider-controls {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: flex-end;
}
body .wrap-container .bg-first-screen .first-screen .slider .slider-btns button {
  background: transparent;
  border: none;
  width: 60px;
  height: 60px;
}
body .wrap-container .bg-first-screen .first-screen .slider .slider-btns button:hover {
  cursor: pointer;
}
body .wrap-container .bg-first-screen .first-screen .slider .slider-btns .left-btn {
  background-color: #FFFFFF;
  opacity: 0.2;
}
body .wrap-container .bg-first-screen .first-screen .slider .slider-btns .right-btn {
  background-color: #FFFFFF;
  opacity: 0.4;
}
@media (max-width: 500px) {
  body .wrap-container .bg-first-screen .first-screen .slider {
    flex-direction: column;
    align-items: center;
  }
  body .wrap-container .bg-first-screen .first-screen .slider .slider-controls {
    margin-bottom: 10px;
  }
}
body .wrap-container .bg-our-services {
  max-width: 1920px;
  background: #EBEBEB;
  height: 1242px;
}
body .wrap-container .bg-our-services .our-services {
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px;
}
body .wrap-container .bg-our-services .our-services .services-tittle {
  padding-top: 118px;
  padding-left: 10px;
  padding-bottom: 73px;
}
body .wrap-container .bg-our-services .our-services .services-tittle h2 {
  padding-bottom: 30px;
  letter-spacing: 1px;
}
body .wrap-container .bg-our-services .our-services .services-tittle h1 {
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  body .wrap-container .bg-our-services .our-services .services-tittle h1 {
    font-size: 24px;
  }
}
@media (max-width: 360px) {
  body .wrap-container .bg-our-services .our-services .services-tittle h1 {
    letter-spacing: 0.5px;
  }
}
body .wrap-container .bg-our-services .our-services .our-services-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding: 10px;
}
body .wrap-container .bg-our-services .our-services .our-services-gallery .card {
  max-width: 350px;
  width: 100%;
  height: 360px;
  background-image: url(../assets/img/cardBg.png);
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
body .wrap-container .bg-our-services .our-services .our-services-gallery .card h2 {
  color: white;
  width: 80%;
  padding-left: 58px;
  padding-bottom: 35px;
  letter-spacing: 2px;
}
body .wrap-container .bg-our-services .our-services .our-services-gallery .card:hover {
  background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)), url(../assets/img/cardBg.png);
}
@media (max-width: 1167px) {
  body .wrap-container .bg-our-services .our-services .our-services-gallery {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  body .wrap-container .bg-our-services .our-services .our-services-gallery .card {
    justify-content: center;
  }
}
@media (max-width: 1167px) {
  body .wrap-container .bg-our-services {
    height: 1530px;
  }
}
@media (max-width: 787px) {
  body .wrap-container .bg-our-services {
    height: 2771px;
  }
}
body .wrap-container .bg-about-us {
  max-width: 1920px;
  height: 840px;
}
body .wrap-container .bg-about-us .about-us {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 166px 10px 10px 10px;
}
body .wrap-container .bg-about-us .about-us .about-us-content {
  width: 50%;
}
body .wrap-container .bg-about-us .about-us .about-us-content h2 {
  margin-top: -30px;
  margin-bottom: 30px;
}
body .wrap-container .bg-about-us .about-us .about-us-content h1 span {
  color: #3e3e8b;
}
@media (max-width: 580px) {
  body .wrap-container .bg-about-us .about-us .about-us-content h1 {
    font-size: 24px;
  }
}
body .wrap-container .bg-about-us .about-us .about-us-content p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  width: 461px;
  padding-top: 43px;
  padding-left: 3px;
}
@media (max-width: 1167px) {
  body .wrap-container .bg-about-us .about-us .about-us-content p {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1167px) {
  body .wrap-container .bg-about-us .about-us .about-us-content {
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
  }
}
body .wrap-container .bg-about-us .about-us .about-us-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  max-width: 540px;
  width: 100%;
}
body .wrap-container .bg-about-us .about-us .about-us-cards .about-us-card {
  max-width: 255px;
  width: 100%;
  height: 255px;
  background: #EBEBEB;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .wrap-container .bg-about-us .about-us .about-us-cards .about-us-card h1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 43px;
}
body .wrap-container .bg-about-us .about-us .about-us-cards .about-us-card h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-left: 43px;
}
body .wrap-container .bg-about-us .about-us .about-us-cards .about-us-card p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #005FA3;
  padding-left: 43px;
}
@media (max-width: 580px) {
  body .wrap-container .bg-about-us .about-us .about-us-cards {
    justify-content: center;
  }
}
@media (max-width: 1167px) {
  body .wrap-container .bg-about-us .about-us {
    flex-direction: column;
    align-items: center;
  }
}
body .wrap-container .bg-gallery {
  max-width: 1920px;
  background: #EBEBEB;
}
body .wrap-container .bg-gallery .wrap-gallery {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  height: 794px;
  padding-top: 139px;
  display: flex;
  flex-direction: column;
}
body .wrap-container .bg-gallery .wrap-gallery h1 {
  padding-left: 13px;
  padding-bottom: 56px;
}
@media (max-width: 580px) {
  body .wrap-container .bg-gallery .wrap-gallery h1 {
    font-size: 24px;
  }
}
body .wrap-container .bg-gallery .wrap-gallery .gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 2.7vw);
  gap: 15px;
}
body .wrap-container .bg-gallery .wrap-gallery .gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 607px) {
  body .wrap-container .bg-gallery .wrap-gallery .gallery figure {
    width: 70%;
    height: 200px;
  }
}
body .wrap-container .bg-gallery .wrap-gallery .gallery .first {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
body .wrap-container .bg-gallery .wrap-gallery .gallery .second {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 9;
}
body .wrap-container .bg-gallery .wrap-gallery .gallery .third {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}
body .wrap-container .bg-gallery .wrap-gallery .gallery .fourth {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 9;
}
@media (max-width: 1440px) {
  body .wrap-container .bg-gallery .wrap-gallery .gallery {
    grid-template-rows: repeat(8, 5vw);
  }
}
@media (max-width: 607px) {
  body .wrap-container .bg-gallery .wrap-gallery .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1167px) {
  body .wrap-container .bg-gallery .wrap-gallery {
    margin-top: 200px;
  }
}
@media (max-width: 1167px) {
  body .wrap-container .bg-gallery .wrap-gallery {
    margin-top: 300px;
  }
}
@media (max-width: 607px) {
  body .wrap-container .bg-gallery .wrap-gallery {
    margin-top: 830px;
    padding-top: 20px;
    height: 1000px;
  }
}
@media (max-width: 500px) {
  body .wrap-container .bg-gallery .wrap-gallery {
    margin-top: 1000px;
    padding-top: 20px;
  }
}
body .wrap-container .bg-faq {
  max-width: 1920px;
}
body .wrap-container .bg-faq .faq {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 116px;
}
body .wrap-container .bg-faq .faq .faq-content h2 {
  padding-bottom: 27px;
  padding-left: 10px;
}
body .wrap-container .bg-faq .faq .faq-content h1 {
  padding-left: 10px;
  padding-bottom: 44px;
}
body .wrap-container .bg-faq .faq .faq-content h1 span {
  color: #3e3e8b;
}
@media (max-width: 580px) {
  body .wrap-container .bg-faq .faq .faq-content h1 {
    font-size: 24px;
  }
}
body .wrap-container .bg-faq .faq .faq-content .questions {
  max-width: 730px;
  width: 100%;
  padding-left: 10px;
}
body .wrap-container .bg-faq .faq .faq-content .questions .first-question {
  background: #005FA3;
  color: #FFFFFF;
  padding-left: 30px;
  padding-bottom: 30px;
}
body .wrap-container .bg-faq .faq .faq-content .questions .first-question h3 {
  padding-top: 32px;
  padding-bottom: 17px;
}
body .wrap-container .bg-faq .faq .faq-content .questions .first-question h3 span::before {
  content: "-";
  vertical-align: text-bottom;
  padding-right: 18px;
}
body .wrap-container .bg-faq .faq .faq-content .questions .first-question p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 138%;
}
body .wrap-container .bg-faq .faq .faq-content .questions .second-question {
  background: #EBEBEB;
  height: 77px;
}
body .wrap-container .bg-faq .faq .faq-content .questions .second-question h3 {
  padding-top: 31px;
  padding-left: 26px;
}
body .wrap-container .bg-faq .faq .faq-content .questions .second-question h3 span::before {
  content: "+";
  padding-right: 14px;
}
body .wrap-container .bg-faq .faq .faq-content .questions .third-question {
  background: #EBEBEB;
  height: 77px;
}
body .wrap-container .bg-faq .faq .faq-content .questions .third-question h3 {
  padding-top: 31px;
  padding-left: 26px;
}
body .wrap-container .bg-faq .faq .faq-content .questions .third-question h3 span::before {
  content: "+";
  padding-right: 14px;
}
@media (max-width: 800px) {
  body .wrap-container .bg-faq .faq .faq-content .questions {
    width: 90%;
    margin: auto;
  }
}
body .wrap-container .bg-faq .faq .faq-img {
  margin-left: 20px;
}
@media (max-width: 1000px) {
  body .wrap-container .bg-faq .faq {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
